[General]
starting_balance = 500
username = /u/FRIENDLY_DEALER
version = 1.0
password = {PASSWORD}
plain_username = FRIENDLY_DEALER
client_id = {CLIENT_ID}
client_secret = {CLIENT_SECRET}

[Poker]
bet_limit = 50000

[Roulette]
bet_limit = 100000

[DiceRoll]
bet_limit = 150000
payout_factor = 4

[CasinoWar]
small_bet = 1000000
mid_bet = 20000000
big_bet = 100000000

[Keno]
bet_limit = 100000

[Mongo]
username = {MONGO_USER}
password = {MONGO_PASS}