[General]
starting_balance = 50000000
username = /u/FRIENDLY_DEALER
version = 1.0
password = {PASSWORD}
plain_username = FRIENDLY_DEALER
client_id = {ID}
client_secret = {SECRET}

[Poker]
bet_limit = 50000
username = /u/SG_POKER_DEALER
password = {PASSWORD}
plain_username = SG_POKER_DEALER
client_id = {ID}
client_secret = {SECRET}

[Roulette]
bet_limit = 100000

[DiceRoll]
bet_limit = 150000
payout_factor = 3

[CasinoWar]
small_bet = 1000000
mid_bet = 20000000
big_bet = 100000000

[Keno]
bet_limit = 100000

[Mongo]
username = {USERNAME}
password = {PASSWORD}